@model SctJSKClient.ViewModels.ArrangementProductViewModel
<script>
    function goBack() {
        window.history.back();
    }
</script>

<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <h5><span class="glyphicon glyphicon-tasks"></span>Arrangement: @Model.Arrangement.Title</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="items">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Produkt</th>
                                    <th>Antal</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.ArrangementProducts)
                                {
                                    <tr>
                                        <td class="col-sm-8 col-md-6">
                                            <div class="media">
                                                <a class="thumbnail pull-left" href="/Home/ProductDetails/@item.Product.Id"> <img class="media-object" src="@item.Product.Image" style="width: 72px; height: 72px;"> </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="/Home/ProductDetails/@item.Product.Id">@item.Product.Title</a></h4>
                                                    <h5 class="media-heading">@item.Product.Description</h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td data-th="Quantity">
                                            <p class="form-control text-center" style="width:70px;">@item.Quantity</p>
                                        </td>
                                    </tr>
                                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4>Arrangement detaljer</h4>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <h4 style="color:#000000"><b>Beskrivelse</b></h4>
                                    <p>@Model.Arrangement.Description</p>
                                </div>
                                <div>
                                    <h4 style="color:#000000"><b>Dato</b></h4>
                                    <li>
                                        @{
                                            var date = Model.Arrangement.Date.ToString().Split(' ')[0];
                                        }
                                        @date
                                    </li>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <hr>
            </div>

            <div class="panel-footer">
                <div class="row text-center">
                    <div class="col-xs-3">
                        <button onclick="goBack()" class="btn btn-success btn-block"><span class="glyphicon glyphicon-chevron-left"></span>Tilbage</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
