@model SctJSKClient.ViewModels.HomePageViewModel

<style>
    .panel-body {
        padding: 15px;
    }

    hr {
        height: 0.5px;
        margin: 10px 0;
    }
</style>
<div class="col-sm-4 col-md-3 hidden-xs">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Produkter</h2>
        </div>
        <div class="panel-body">
            @foreach (var cat in Model.Categories)
            {
                <a href="/Home/CategoryDetails/@cat.Id" style="color:#176C9E">@cat.Name</a>
                foreach (var product in cat.Product)
                {
                    <ul style="margin-top:5px;">
                        <li style="line-height: 0.8em;">
                            <a href="/Home/ProductDetails/@product.Id">@product.Title</a>
                        </li>
                    </ul>
                }
                <hr>
            }
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-8 col-md-9" style="float:right; overflow:auto; ">
    <div class="jumbotron" style="background:white; border-style: solid; border-color: #428bca; border-width: 2px;">
        <h1 style="font-weight:500; font-style:italic; color:#428bca;">Sct.Jacobi skole kantine</h1>
        <p style="color:#428bca; font-style:oblique"> - Velkommen til online bestilling af kantine mad med mere.</p>
    </div>
</div>

@foreach (var cat in Model.Categories)
            {
    <div class="col-xs-12 col-sm-8 col-md-9" style="float:right; overflow:auto;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">@cat.Name produkter</h2>
            </div>
            <div class="panel-body" style="margin-bottom:-2%;">

                @foreach (var product in cat.Product.Take(4))
                {
                    <div class="col-sm-3 col-md-3 col-lg-3" style="margin-bottom: 2%; overflow:auto">
                        <div class="panel panel-info" style="padding-top:-0%">
                            <div class="panel-heading">
                                <h2 class="panel-title"><a href="/Home/ProductDetails/@product.Id">@product.Title</a></h2>
                            </div>
                            <div class="panel-body">
                                <p>@product.Description</p>
                                <div>
                                    <img style="height:100px; width:100px; display:block; margin-right:auto; margin-left:auto;" src="@product.Image" alt="...">
                                    <p></p>
                                </div>
                                <div class="row">
                                    <b style="font-size:small; margin-left:5px">@product.Price kr.</b>
                                    <a href="/Cart/Buy/@product.Id" class="btn btn-success right" id="toastr-success"><i class="glyphicon glyphicon-shopping-cart pull-left"></i>&nbsp;Læg i kurv</a>
                                </div>

                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
}

<div class="row well" style="clear:both; border: 1px solid #b6b4ae;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id nisi posuere, gravida arcu vitae, cursus erat. Sed non mauris vitae neque interdum maximus id sed magna. In a odio purus. Sed venenatis diam dolor, lobortis eleifend ipsum volutpat et. Nam tempus, nulla a imperdiet luctus,
</div>

