@model SctJSKClient.Models.UserOrderModel

@{
    ViewBag.Title = "ViewOrderDetails";
}

<script>
    function goBack() {
        window.history.back();
    }
</script>

<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <h5><span class="glyphicon glyphicon-shopping-cart"></span>Ordre: @Model.order.Id</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="items">

                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Produkt</th>
                                    <th>Antal</th>
                                    <th class="text-center">Pris</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.OrderDetails)
                                {
                                    <tr>
                                        <td class="col-sm-8 col-md-6">
                                            <div class="media">
                                                <a class="thumbnail pull-left" href="/Home/ProductDetails/@item.Product.Id"> <img class="media-object" src="@item.Product.Image" style="width: 72px; height: 72px;"> </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="/Home/ProductDetails/@item.Product.Id">@item.Product.Title</a></h4>
                                                    <h5 class="media-heading">@item.Product.Description</h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td data-th="Quantity">
                                            <p class="form-control text-center" style="width:70px;">@item.Quantity</p>
                                        </td>
                                        <td class="col-sm-1 col-md-1 text-center"><strong>@item.Product.Price Kr.</strong></td>
                                        @{
                                            var total = item.Quantity * item.Product.Price;
                                        }
                                        <td class="col-sm-1 col-md-1 text-right"><strong>@total Kr.</strong></td>
                                    </tr>
                                            }
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4>Ordre detaljer</h4>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <h4 style="color:#000000"><b>Datoer</b></h4>
                                    @foreach (var order in Model.Orders)
                                    {

                                        <li>
                                            @{
                                                var date = order.OrderDate.Date.ToString().Split(' ')[0];
                                            }
                                            @date
                                        </li>
                                                }
                                </div>
                                <div style="margin-top:10px">
                                    <b>OrdreNr:</b> @Model.order.Id
                                    <b>Pause:</b> @Model.order.TimeOfDay

                                </div>
                                <div>
                                    <div class="well" style="text-align: center; bottom:0">
                                        @{
                                            var sum = Model.OrderDetails.Sum(x => x.Quantity * x.Product.Price);
                                        }
                                        <h3>Ordre Total</h3>
                                        <h3><span style="color:green;">@sum dk</span></h3>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <hr>
            </div>

            <div class="panel-footer">
                <div class="row text-center">
                    <div class="col-xs-3">
                        <button onclick="goBack()" class="btn btn-success btn-block"><span class="glyphicon glyphicon-chevron-left"></span>Tilbage</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>