<!DOCTYPE html>
@using SctJSKClient.Security
@using SctJSKClient.Models
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fullcalendar")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background:#F8F8F8; padding-top: 0">
    <style>

    </style>

    <div class="container" style="background-color: #EFEFEF;">
        <div class="page-header" style="margin-top: inherit; margin-bottom:inherit;overflow:auto">
            <h1 style="font-weight: bold; float:left">
                <font color="#42a7f4">@Html.ActionLink("Sct.Jacobi Kantine", "Index", "Home")</font>
            </h1>

            <div style="float:right; margin-top:2%">
                <a class="btn btn-lg" href="/Profile/Index" style="">
                    <i class="glyphicon glyphicon-user pull-left"></i><span>&nbsp;@SessionPersister.Username</span>
                </a>
            </div>
            @if (SessionPersister.UserRole.Equals("Admin"))
            {
                <div style="float:right; margin-top:2%">
                    <a class="btn btn-lg btn-primary " href="/Administration/Index">
                        <i class="glyphicon glyphicon-cog pull-left"></i><span>&nbsp;Administration</span>
                    </a>
                </div>
            }

        </div>
        <div class="row">
            <div class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Forside", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        @if (@SessionPersister.Username != null)
                        {
                            <button type="button" class="btn btn-default navbar-btn navbar-right">
                                <a href="/Account/Logout">Log out</a>
                            </button>
                        }


                        <div>
                            @{
                                var n = 0;
                                var sum = 0;
                                if (Session["cart"] != null)
                                {
                                    List<Item> cart = (List<Item>)Session["cart"];
                                    n = cart.Count;
                                    sum = cart.Sum(item => item.product.Price * item.quantity);
                                }

                            }


                            <button type="button" class="btn btn-default navbar-btn navbar-right" style="margin-right: 1%">
                                <a href="/Cart/Index">
                                    <i class="glyphicon glyphicon-shopping-cart">
                                    </i><span> @sum dk</span>
                                </a>
                            </button>
                        </div>

                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kategori <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    @Html.Action("NavbarCategoryPartialView", "Home")
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
        <!-- -->
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- It can be fixed with bootstrap affix http://getbootstrap.com/javascript/#affix-->
                    <div id="sidebar" class="well sidebar-nav">
                        <h5>
                            <i class="glyphicon glyphicon-list"></i>
                            <small><b>ADMINISTRERE</b></small>
                        </h5>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="/Administration/Index">Ordrer</a></li>
                            <li><a href="/Sale/GetDailySales">Salg</a></li>
                            <li><a href="/Arrangement/Index">Arrangmenter</a></li>
                            <li><a href="/Product/Index">Proukter</a></li>
                            <li><a href="/Category/Index">Kategorier</a></li>                            
                        </ul>
                        
                    </div>
                </div>
                <div class="col-md-9">
                    <!-- Content Here -->
                    <div class="container body-content">
                        @RenderBody()
                        <hr />
                    </div>
                </div>
            </div>
        </div>
        
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <link rel="stylesheet" href="~/Content/themes/smoothness/jquery.ui.all.css" />
    @Scripts.Render("~/bundles/fullcalendar")
    @Scripts.Render("~/bundles/customs")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

