@using SctJSKClient.Models

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <h5><span class="glyphicon glyphicon-shopping-cart"></span> Indkøbskurv</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Produkt</th>
                            <th>Antal</th>
                            <th class="text-center">Pris</th>
                            <th class="text-right">Total</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            int i = 0;
                        }
                        @if (Session["cart"] != null)
                        {
                            foreach (var item in (List<Item>)Session["cart"])
                            {
                                <tr>
                                    <td class="col-sm-8 col-md-6">
                                        <div class="media">
                                            <a class="thumbnail pull-left" href="/Home/ProductDetails/@item.product.Id"> <img class="media-object" src="@item.product.Image" style="width: 72px; height: 72px;"> </a>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="/Home/ProductDetails/@item.product.Id">@item.product.Title</a></h4>
                                                <h5 class="media-heading">@item.product.Description</h5>
                                            </div>
                                        </div>
                                    </td>

                                    <td data-th="Quantity">
                                        <input type="number" class="form-control text-center" style="width:70px;" value="@item.quantity">
                                    </td>
                                    <td class="col-sm-1 col-md-1 text-center"><strong>@item.product.Price Kr.</strong></td>
                                    @{
                                        var total = item.quantity * item.product.Price;
                                    }
                                    <td class="col-sm-1 col-md-1 text-right"><strong>@total Kr.</strong></td>
                                    <td style="text-align:right">
                                        <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "Cart", new { id = i })"><span class="glyphicon glyphicon-trash"> </span></a>
                                    </td>
                                </tr>
                                            }
                                        }

                    </tbody>
                </table>
            </div>

            <div class="panel-footer">
                <div class="row text-center">
                    <div class="col-xs-6">
                        <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-sm btn-block">
                            <span class="glyphicon glyphicon-share-alt"></span> Fortsæt med at handle
                        </a>
                    </div>
                    <div class="col-xs-3">
                        @{
                            decimal s = 0;
                            if (Session["cart"] != null)
                            {
                                List<Item> cart = (List<Item>)Session["cart"];
                                s = cart.Sum(x => x.quantity * x.product.Price);
                            }

                        }
                        <h4 class="text-right">Total: <strong>@s kr</strong></h4>
                    </div>
                    <div class="col-xs-3">
                        @{ 
                            List<Item> cart2 = (List<Item>)Session["cart"];
                        }
                        @if (cart2 != null)
                        {
                            <a href="@Url.Action("SetOrderDates", "Cart")" class="btn btn-success btn-block">Videre <span class="glyphicon glyphicon-play"></span></a>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>