@model SctJSKClient.ViewModels.SaleViewModel

@{
    ViewBag.Title = "GetMonthlySales";
}

@section scripts{
    <script type="text/javascript">
        $(function () {
            (".datepicker").datepicker({
                format: "mm-yyyy",
                viewMode: "months",
                minViewMode: "months"
            });
        });
    </script>
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 style="color:#3277b3">Vælg måned</h2>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("GetMonthlySales", "Sale", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <label>Måned: </label>
                    @Html.TextBoxFor(m => m.FullDate, new { @class = "date-picker" })
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;Se Salg</button>

                </div>
                <div class="col-md-6 col-sm-6">
                    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("GetWeeklyySales", "Sale")'" style="float:right; overflow:auto"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;Se Ugelige Salg</button>
                    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("GetDailySales", "Sale")'" style="float:right;  margin-right:1%;"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;Se Daglige Salg</button>
                </div>
            </div>
        }

    </div>
</div>

<div class="panel panel-primary">
    <div class="panel panel-heading" style="text-align:center"><h4 style="color:#ffffff; font-weight:bold">@Model.MonthDate</h4></div>

    <div class="form-group">
            <img src="@Url.Action("WeeklyCharterColumn", new { startDate = Model.StartDate, endDate = Model.EndDate })" alt="Chart" />

            <img style="float:right" src="@Url.Action("WeeklyCharterPie", new { startDate = Model.StartDate, endDate = Model.EndDate })" alt="Chart" />
        </div>

    <table class="table table-hover custab" style="background-color:white">
        <thead>
            <tr>
                <th style="color:#428bca">Produkt</th>
                <th style="color:#428bca">Pris pr. produkt</th>
                <th style="color:#428bca">Total solgt</th>
                <th style="color:#428bca">Samlede indtægter</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CountOfProducts)
            {
                <tr>
                    <td>@item.product.Title</td>
                    <td>@item.product.Price kr.</td>
                    <td>@item.NumberOfProduct</td>
                    <td>@item.TotalPrice kr.</td>
                </tr>

            }
            <tr>
                <td><b style="color:#3277b3">Total: </b></td>
                <td></td>
                <td><b style="color:#3277b3">@Model.TotalProduct</b></td>
                <td><b style="color:#3277b3">@Model.Total kr.</b></td>
            </tr>
        </tbody>
    </table>

</div>

